name: get deployment details
apiVersion: automation.cloudbees.io/v1alpha1
kind: workflow
on:
  workflow_dispatch:
    inputs:
      namespace:
        description: Kubernetes namespace to install the chart in, created if missing
        type: string
        default: default
      cluster:
        description: Kubernetes cluster to install the chart in
        type: string  
        required: true
      aws-region:
        type: string
        required: true  
      aws-role-to-assume:
        type: string
        required: true
  workflow_call:
    inputs:
      namespace:
        description: Kubernetes namespace to install the chart in, created if missing
        type: string
        default: default
      cluster:
        description: Kubernetes cluster to install the chart in
        type: string  
        required: true  
      aws-region:
        type: string
        required: true   
      aws-role-to-assume:
        type: string
        required: true
jobs:
  get-pod-details:
    permissions:
      scm-token-own: read
      id-token: write
    steps:
      - name: Login to AWS
        uses: https://github.com/cloudbees-io/configure-aws-credentials@v1
        with:
          aws-region: ${{ inputs.aws-region }}
          role-to-assume: ${{ inputs.aws-role-to-assume }}
          role-duration-seconds: "3600"
      - uses: cloudbees-io/configure-eks-credentials@v1
        with:
          name: ${{ inputs.cluster }}
      - name: Deployment details
        uses: docker://alpine/k8s:1.30.2
        run: |
          set -u
          kubectl version
          kubectl cluster-info
          kubectl get pods -n ${{ inputs.namespace }}
